body {
    background-color: #003b0b;
    font-family: 'Arial', 'icones', 'sans-serif';
    color: #FFFFFF;
    margin: 1px;
    font-size: 11px;
}
.menu_lateral {
    display: flex;
    flex-direction: column;
    background-color: #02672e;
    width: 30vw;
    height: 100vh;
    position: absolute;
    left: -100vw;
    transition: .25s;
}

.menu_lateral--ativo {
    display: grid;
    flex-direction: column;
    left: 0;
    transition: .25s;
}
.cabecalho {
    background-color: #02672e;
    color: #fdd100;


    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
}

.titulo_pagina {
    display:grid;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    font-weight: bold;
}

.menu_horizontal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

main{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 7em 0;
    padding: 5px 5px;
}
.main_div {
    justify-content: left;
    display: grid;

}

.botoes_link {
    display: flex;
    justify-content: space-between;
    margin: 4em 0;
}

form, .lista_disciplinas {
    display: grid;
    justify-content: center;
    background-color: #01310a;
    padding: 2em 5em;
    margin: 2.5% 2.5%;
    border-radius: 3.5%;
}

form label {
    text-align: left;
    text-transform: capitalize;
    font-size: 130%;
    margin: 0 12% 0;
    font-weight: bold;
}

form input {
    margin: 0.5em 12% 5%;
    width: 24em;
    text-align: center;
    font-size: 120%;
}

.botao_submeter, .links {
    border: 3px solid white;
    width: 20em;
    text-transform: capitalize;
    color: white;
    border-radius: 2em;
    font-weight: bold;
    background-color: transparent;
    justify-self: center;
    padding: 0.2em 0.2em;
    cursor: pointer;
    margin-right: 0.5em;
}

.botao_submeter, .links:hover {
    background-color: white;
    color: #01310a;
}